.subtitle {
  margin-top: -2rem;
  margin-bottom: 2.5rem;
  font-size: 11pt;
}
table td > * {
  margin: 0;
}
.remove-col {
  display: flex;
  justify-content: flex-end;
}
.remove-col > button {
  max-width: 200px;
}

.ranking .is-active {
  background-color: #3273dc;
  color: #fff;
}

.tabs {
  margin-bottom: 2rem;
}
.tab span:first-child {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 6px;
  border-radius: 50%;
  background: var(--primary);
  text-align: center;
  font-weight: bold;
}
.tab span:nth-child(2) {
  margin: 0 .5rem;
}
.tab span:nth-child(3) {
  margin-right: .5rem;
}
.tab.is-active span:nth-child(2) {
  font-weight: bold;
}

@media (max-width: 350px) {
  .tabs {
    font-size: 8pt;
  }
  .tab span:first-child {
    width: 20px;
    height: 20px;
    padding: 2px;
  }
}
@media (min-width: 351px) and (max-width: 420px) {
  .tabs {
    font-size: 10pt;
  }
  .tab span:first-child {
    width: 25px;
    height: 25px;
    padding: 3px;
  }
}
@media (min-width: 421px) and (max-width: 600px) {
  .tabs {
    font-size: 11pt;
  }
  .tab span:first-child {
    width: 30px;
    height: 30px;
    padding: 4px;
  }
}
@media (max-width: 600px) {
  .available-games td > h4 {
    font-size: 1rem;
  }
  .tabs {
    display: flex;
    justify-content: space-between;
  }
  .tab span:nth-child(2) {
    margin: 0 .2rem;
  }
  .tab span:nth-child(3) {
    display: none;
  }
}